%h1= pluralize(@events.count, 'Event')

- @events.each do |event|
  %ul.well
    %li= link_to event.event_name, event_path(event)
    %li= truncate(event.description)
    %li= event.venue
    %li= event.date

