- @events.each do |event|
  %div
    %header
      %h2= link_to event.event_name, event_path(event)

    %p= truncate(event.description)

    %table
      %tr
        %th When:
        %td= event.date
      %tr
        %th Where:
        %td= event.venue
      %tr
        %th Tasks?
        %td= pluralize(event.tasks.size, 'Task')
