
%div
  %header
    %h1= @event.event_name

  %p= @event.description

  %h3 When
  %p= @event.date

  %h3 Where
  %p= @event.venue

%h3 Its Tasks

- @event.tasks.each do |task|
  %p
    title:
    = task.title
    %br
    description:
    = task.description
    %br
