!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MingEvents
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .text-right
        = link_to "EVENTS", events_path, class: 'btn btn-lg btn-link'
        = link_to "TASKS", tasks_path, class: 'btn btn-lg btn-link'
      .btn.btn-default= link_to pluralize(all_events.count, 'Event'), events_path
      = yield
